*{
    :root {
        --black: #0d444d;
        --bamboo-tree: #216e7a;
        --white: #c5e1e5;
        --yelllow-bttn: #fff5ba;
        --bg: #2a8086;
        --bttn-black: #0d444d;
        --bttn-yellow: #ad954b;
        --hero-text: #f3f7f8;
        --footer-bg: #196469;
        --bttn-lined: #19707d;
    }


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
    h1, h2, h3, h4, h5, h6 {
    font-family: "Schibsted Grotesk", sans-serif;
}
.container{
    max-width: 1960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
li {
      list-style: none;
}
a{
    text-decoration: none;
}
 