.header {
    padding-top: 13px;
    width: 1920px;
    background: var(--bg);
    box-shadow: 0 1px 10px 0 rgba(18, 87, 91, 0.25);
    background-color: #2A8086;
    margin: 0 auto;
    max-width: 1950px;
    padding: 0 15px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__Logo {
            width: 108px;
            height: 83px;
            margin-left: 100px;

        }

        &_ul1 {

            display: flex;
            align-items: center;
            gap: 52px;

        }

        &_ul2 {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-right: 52px;
        }

        .header__wrapper_ul2_3 {
            display: none;
        }
    }

    a {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
    }
}

@media(max-width:1200px) {

    .header__wrapper_ul2_1 {
        display: none;
    }

    .header__wrapper_ul2_2 {
        display: none;
    }


}

@media(max-width:1200px) {
    .header__wrapper_ul2_3 {
        display: block;
        width: 56px;
        height: 56px;
    }
}