.map__choose {
    width: 1920px;
    height: 1040px;
    background-color: #0f957a97;
    background: #2A8086;

    margin: 0 auto;
    max-width: 1950px;
    padding: 0 15px;

    .MAP {
        width: 1467px;
        height: 950px;
        margin: 10px 226px 50px 227px;
    }
}